html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.main {
  background-color: black;
  width: 100vw;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  height: 100vh;
}

.input {
  border: 1px solid white;
  border-radius: 2px;
}

.description {
  color: white;
  margin-top: -200px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
  margin-bottom: 10px;
  font-size: 1.2rem;
  padding: 15px;
  text-align: center;
}

.formContainer {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.logo {
  margin-top: -200px;
}

.container {
  margin: 0;
}

.submitButton {
  font-family: "Courier New", Courier, monospace;
  padding: 7px 20px;
  background-color: white;
  border: none;
  border-radius: 2px;
}

@media screen and (max-width: 500px) {
  .description {
    font-size: 1rem;
  }
}

.successMessage {
  font-size: 0.9rem;
  color: green;
  font-family: "Courier New", Courier, monospace;
}
